{* This is the welcome page, you can delete it *}

{block content}
    <div class="container">
        <div class="col-sm-3 ">
            <div class="row">
                <section class="member_list">
                    <ul class="list-unstyled" id="conversations">
                        {*  <li>
                              <div class="chat-body clearfix">
                                  <strong class="primary-font">Jack Sparrow</strong>
                              </div>
                          </li>*}
                    </ul>
                </section>
            </div>
        </div>
        <!--chat_sidebar-->


        <div class="col-sm-9 message_section">
            <div class="row">

                <section class="chat_area">
                    <ul class="list-unstyled messages">
                        {*   <li class="left clearfix">
                               <b class="pull-left">name</b>
                               <div class="chat-body1 clearfix">
                                   <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                       roots in a piece of classical Latin literature from 45 BC, making it over
                                       2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                       College in Virginia.</p>
                                   <div class="chat_time pull-right">09:40PM</div>
                               </div>
                           </li>*}
                    </ul>
                </section><!--chat_area-->
                <form class="message_write">

                    <input type="text" class="form-control" id="messageInput"
                           placeholder="Write a message..." maxlength="140">

                    <button type="submit" class="btn btn-success pull-right">Send</i>
                    </button>
                </form>
            </div>
        </div> <!--message_section-->
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="userNameModal">
        <div class="modal-dialog" role="document">
            <form class="modal-content" id="usernameForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Pick nickname</h4>
                </div>
                <div class="modal-body">
                    <input type="text" required="required" class="form-control" id="usernameInput"
                           placeholder="Type your nickname here">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Sing Up</button>
                </div>
            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{/block}

